@import '../../../colors.scss';

.project-container {
    margin: 50px 20px 115px 70px;
    .video-container {
        height: 375px;
        float: left;
        margin-right: 50px;
        video {
            height: 100%;
            border-radius: 35px;
        }
    }

    .text-container {
        font-family: 'Coolvetica';
        letter-spacing: 2px;
        h1 {
            color: $primary-color;
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            color: white;
            font-size: 27px;
        }
    }
}

@media (max-width: 1200px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 911px) {
    .project-container {
        .video-container {
            height: 250px;
        }
    }
}

@media (max-width: 499px) {
    .project-container {
        .video-container {
            height: 175px;
        }
        .text-container {
            h1 {
                font-size: 9vw;
            }
            p {
                font-size: 5vw;
            }
        }
    }
}

@media (max-width: 449px) {
    .project-container {
        .video-container {
            height: 135px;
        }
        .text-container {
            h1 {
                font-size: 9vw;
            }
            p {
                font-size: 5vw;
            }
        }
    }
}