@import '../../../colors.scss';

.project-container {
    margin: 50px 20px 115px 200px;
    display: flex;
    flex-direction: column;
    .img-container {
        position: relative;
        overflow: hidden;
        height: 400px;
        max-width: 60%;
        margin-right: 10px;
        border-radius: 5px;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            transition: all 5s ease-in-out;
        }

        .ecomm {
            &:hover {
                transform: translateY(-83%);
            }
        }

        .gym {
            &:hover {
                transform: translateY(-90%);
            }
        }

        .amaz {
            &:hover {
                transform: translateY(-54%);
            }
        }
    }

    .text-container {
        font-family: 'Coolvetica';
        letter-spacing: 2px;
        h1 {
            color: $primary-color;
            font-size: 40px;
            margin-bottom: 20px;
        }
        .link-container {
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
            
            a {
                text-decoration: unset;
                cursor: pointer;
                font-size: 20px;
                color: $primary-color;
                padding: 8px;
                margin-bottom: 20px;
                border: solid 2px $primary-color;
                border-radius: 10px;
                letter-spacing: 2px;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        p {
            color: white;
            font-size: 27px;
        }

    }
}

@media (max-width: 1200px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 911px) {
    .project-container {
        .img-container {
            height: 250px;
        }
    }
}

@media (max-width: 499px) {
    .project-container {
        .img-container {
            height: 175px;
        }
        .text-container {
            h1 {
                font-size: 9vw;
            }
            p {
                font-size: 5vw;
            }
        }
    }
}

@media (max-width: 449px) {
    .project-container {
        .img-container {
            height: 135px;
        }
        .text-container {
            h1 {
                font-size: 9vw;
            }
            p {
                font-size: 5vw;
            }
        }
    }
}