@import '../../colors.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #115173 inset;
    -webkit-font-family: 'Coolvetica';
}
.contact-page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    .text-zone {
        width: 50%;
        max-height: 100%;

        h1 {
            margin: 0;
            font-size: 53px;
            font-family: 'Coolvetica';
            color: $primary-color;
            font-weight: 400;
            margin-bottom: 50px;
        }

        p {
            font-size: 20px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
        }
    }
    .contact-form {
        width: 50%;
        margin-top: 20px;
        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 10px;
                overflow: hidden;
                display: block;
                position: relative;
                opacity: 0;
                animation: fadeInUp 2s 2s;
                animation-fill-mode: forwards;
                clear: both;
            }

            .halfs-container {
                display: flex;
                column-gap: 2%;
                li.half {
                    width: 49%;
                    clear: none;
    
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            
        }
        input[type='text'],
        input[type='email'] {
            width: 100%;
            border: 0;
            background-color: #115173;
            height: 50px;
            font-size: 16px;
            color: #fff;
            padding: 0 20px;
            box-sizing: border-box;
        }

        textarea {
            width: 100%;
            border: 0;
            background-color: #115173;
            height: 50px;
            font-size: 16px;
            color: #fff;
            min-height: 150px;
            padding: 20px;
            box-sizing: border-box;
        }

        .flat-button {
            color: $primary-color;
            background: 0 0;
            font-size: 19px;
            border: 1px solid $primary-color;
            border-radius: 4px;
            cursor: pointer;
            padding: 8px 20px;
            font-family: 'Coolvetica';
            letter-spacing: 2px;
        }
    }
}

@media (max-width: 599px) {
    .contact-page {
        margin-left: 30px;
        .text-zone {
            width: 70%;
            h1 {
                font-size: 9vw;
            }
            p  {
                font-size: 4vw;
            }
        }
        .contact-form {
            width: 70%;
            font-family: 'Coolvetica';
        }
    }
}