@import '../../colors.scss';



.home-page {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 50px 0 150px 70px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    .text-container {
        font-family: 'Coolvetica';
        letter-spacing: 2px;
        flex: 0.7;
        h1 {
            color: $primary-color;
            font-size: 55px;
            margin-bottom: 20px;
        }

        p {
            font-size: 30px;
            color: #fff;
        }
    }

    .tilt-container {
        flex: 0.7;        
        .logo-container {
            position: relative;
            margin-right: 40px;
            padding: 50px 0 50px 0;
            display: flex;
            justify-content: center;
            position: relative;
            background: rgba(255, 255, 255, 0.2);
            border: solid 1px rgba(255, 255, 255, 0.4);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            img {
                max-width: 70%;
                height: auto;
                display: block;
                
            }
        }
    }
}

@media (max-width: 999px) {
    html, body {
        overflow-x: hidden;
        .home-page {
            flex-direction: column;
            justify-content: center;
            row-gap: 70px;
            margin-bottom: 0;  
            .text-container {
                h1 {
                    font-size: 10vw;
                }
                p {
                    font-size: 5vw;
                }
            }        
            .text-container {
                flex: 1;
            }
            .logo-container {
                flex: 1;
            }
        }
    }
}
    